<div class="col s2 custom-header grey darken-4">
  <div class="custom-margin"></div>
  <div class="container">
    <img src="/assets/logo.png" alt="" class="responsive-img">
  </div>

  <div class="container">
    <ul class="nav-links">
      <li><a href="/feed" class="flow-text white-text">Home</a></li>
      <li><a href="#" class="flow-text white-text">Explore</a></li>
      <li><a href="#" class="flow-text white-text">Shop</a></li>
      <li><a href="/profile" class="flow-text white-text">Profile</a></li>
      <li><a href="#" class="flow-text white-text">Settings</a></li>
    </ul>

    <a href="/logout" class="btn red">Logout</a>
  </div>
</div>