<div class="col s2 custom-header">
  <div class="container">
    <img src="/assets/logo.png" alt="" class="responsive-img">
  </div>

  <div class="container custom-margin custom-nav">
    <ul class="nav-links">
      <li><a href="/feed" class="flow-text">Home</a></li>
      <li><a href="#" class="flow-text">Explore</a></li>
      <li><a href="/profile" class="flow-text">Profile</a></li>
      <li><a href="#" class="flow-text">Settings</a></li>
    </ul>

    <a href="/logout" class="btn red">Logout</a>
  </div>
</div>