<h3 class="center-align">Create a New Post!</h3>
<div class="row">
    <form action="/post" enctype="multipart/form-data"  method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" class="white-text">
                <label for="title" class="grey-text">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="file" id="imageUpload" name="image">
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="caption" name="caption" class="white-text">
                <label for="caption" class="grey-text">Caption</label>
            </div>
        </div>
        <div class="row">
            <div class="row center-align">
                <input type="submit" value="Post" class="btn red">
                <a href="/feed" class="btn grey">Cancel</a>
            </div>
        </div>
    </form>
    

    