<div class="container">
        <img src="/assets/t.png" alt="" class="responsive-img">
</div>
<div class="divider"></div>
<div class="container">
    {{#if locals.messages.errors}}
        {{#each locals.messages.errors}}
            <div>{{msg}}</div>
        {{/each}}
    {{/if}}
    {{#if locals.messages.info}}
        {{#each locals.messages.info}}
            <div>{{msg}}</div>
        {{/each}}
    {{/if}}
    <h5 class="center-align">Sign Up</h5>
    <form action="/signup" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="email" name="email">
                <label for="email">Email</label>
            </div>
            <div class="input-field">
                <input type="text" id="userName" name="userName">
                <label for="userName">Username</label>
            </div>
            <div class="input-field">
                <input type="password" id="password" name="password">
                <label for="password">Password</label>
            </div>
            <div class="input-field">
                <input type="password" id="confirmPassword" name="confirmPassword">
                <label for="confirmPassword">Re-Type Password</label>
            </div>
            <div class="row center-align">
            <input type="submit" value="Create Account" class="btn">
            </div>
        </div>

    </form>
</div>