<div class="container">
    <img src="/assets/logo.png" alt="" class="responsive-img">
</div>
<div class="divider"></div>
<div class="container">
    {{#if locals.messages.errors}}
        {{#each locals.messages.errors}}
            <div>{{msg}}</div>
        {{/each}}
    {{/if}}
    {{#if locals.messages.info}}
        {{#each locals.messages.info}}
            <div>{{msg}}</div>
        {{/each}}
    {{/if}}
    <h5 class="center-align white-text">Sign Up</h5>
    <form action="/signup" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="firstname" name="firstname" class="white-text"> <!-- Add white-text class here -->
                <label for="firstname" class="white-text">First Name</label>
            </div>
            <div class="input-field">
                <input type="text" id="lastname" name="lastname" class="white-text"> <!-- Add white-text class here -->
                <label for="lastname" class="white-text">Last Name</label>
            </div>
            <div class="input-field">
                <input type="text" id="email" name="email" class="white-text"> <!-- Add white-text class here -->
                <label for="email" class="white-text">Email</label>
            </div>
            <div class="input-field">
                <input type="text" id="userName" name="userName" class="white-text"> <!-- Add white-text class here -->
                <label for="userName" class="white-text">Username</label>
            </div>
            <div class="input-field">
                <input type="password" id="password" name="password" class="white-text"> <!-- Add white-text class here -->
                <label for="password" class="white-text">Password</label>
            </div>
            <div class="input-field">
                <input type="password" id="confirmPassword" name="confirmPassword" class="white-text"> <!-- Add white-text class here -->
                <label for="confirmPassword" class="white-text">Re-Type Password</label>
            </div>
            <div class="row center-align">
                <input type="submit" value="Create Account" class="btn">
            </div>
        </div>
    </form>
</div>
