<div class="container valign-wrapper" style="height: 100vh;">
    <div class="row">
        <div class="col s12 m10 offset-m1 white-text">
            <h1 class="center-align">Connect Your Account To Stripe!</h1>
            <div class="row">
                <p class="center-align">OnlyPets is a social media platform/marketplace where you can raise money to support your furry friend. In order to receive payment, you need to connect your Banking information to Stripe. Click below!</p>
            </div>
            <div class="row center-align">
                <a href="#" class="btn red darken-2">Connect Now!</a>
                <a href="/feed" class="btn red lighten-2">Skip</a>
            </div>
        </div>
    </div>
</div>

