<div class="container">
    <div class="row">
            <div class="row">
                <div class="center">
                    <img src="/assets/logo.png" alt="logo" class="responsive-img center">
                </div>
            </div>
            <div class="row">
                    <h5 class="custom-margin center">Personal Information</h5>
                    <form action="/stripe/authorize" method="POST">
                        <div class="input-field">
                            <input type="text" id="firstname" name="firstname" class="white-text"> <!-- Add white-text class here -->
                            <label for="firstname" class="white-text">First Name</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="lastname" class="white-text">
                            <label for="lastname" class="white-text">Last Name</label>
                        </div>

                        <div class="row custom-margin">
                            <label>Select a Country</label>
                            <select class="browser-default" id="status">
                            </select>
                        </div>

                        <div class="row custom-margin">
                            <label>Select Account Type</label>
                            <select class="browser-default" id="accountType" name="accountType" onchange="toggleFields()">
                                <option value="individual" selected>Individual</option>
                                <option value="company" >Company</option>
                            </select>
                        </div>

                        <div class="input-field hidden custom-margin" id="businessUrl">
                            <input type="text" name="businessUrl" class="white-text">
                            <label for="businessUrl" class="white-text">Business Url</label>
                        </div>

                        <div class="row custom-margin center">
                            <button type="submit" class="btn btn-large red darken-2">Create Account</button>
                        </div>
                    </form>
            </div>
        </div>
</div>


<script>
        document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems, options);
    });

    function toggleFields(){
        const isCompany = document.getElementById('accountType').value === 'business'
        const businessUrlInput = document.getElementById('businessUrl')

        console.log(document.getElementById('account-type'))

        if(isCompany){
            businessUrlInput.classList.remove('hidden')
        }else{
            businessUrlInput.classList.add('hidden')
        }
    }

       //Adding countries for stripe account creation 
   const countries = [
    "Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua and Barbuda", "Argentina", "Armenia", "Australia", "Austria", 
    "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bhutan", "Bolivia", 
    "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cabo Verde", "Cambodia", 
    "Cameroon", "Canada", "Central African Republic", "Chad", "Chile", "China", "Colombia", "Comoros", "Congo", "Costa Rica", 
    "Croatia", "Cuba", "Cyprus", "Czech Republic", "Democratic Republic of the Congo", "Denmark", "Djibouti", "Dominica", 
    "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Eswatini", "Ethiopia", 
    "Fiji", "Finland", "France", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Grenada", "Guatemala", "Guinea", 
    "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", 
    "Israel", "Italy", "Jamaica", "Japan", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kuwait", "Kyrgyzstan", "Laos", 
    "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Madagascar", "Malawi", 
    "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", 
    "Monaco", "Mongolia", "Montenegro", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", 
    "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Korea", "North Macedonia", "Norway", "Oman", "Pakistan", "Palau", 
    "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Qatar", "Romania", 
    "Russia", "Rwanda", "Saint Kitts and Nevis", "Saint Lucia", "Saint Vincent and the Grenadines", "Samoa", "San Marino", 
    "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", 
    "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Korea", "South Sudan", "Spain", "Sri Lanka", "Sudan", 
    "Suriname", "Sweden", "Switzerland", "Syria", "Tajikistan", "Tanzania", "Thailand", "Timor-Leste", "Togo", "Tonga", 
    "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", 
    "United Kingdom", "United States", "Uruguay", "Uzbekistan", "Vanuatu", "Vatican City", "Venezuela", "Vietnam", 
    "Yemen", "Zambia", "Zimbabwe"
  ];
  
  
  const select = document.getElementById('status')
  
  console.log(select)
  
  countries.forEach(country => {
    const option = document.createElement('option')
    option.value = country
    option.textContent = country
    select.appendChild(option)
  })
</script>