<div class="container valign-wrapper" style="height: 100vh;">
    <div class="row center white-text">
        <div class="col s1 m2"></div>
        <div class="col s10 m8">
            <h1>You have successfully subscribed to {{user.userName}}</h1>
            <a href="/profile/{{user._id}}">Continue</a>
        </div>
    </div>
</div>